@model IEnumerable<MvcCars.Models.Car>

@{
    ViewData["Title"] = "Car list";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pojemnosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rocznik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pojemnosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rocznik)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
